<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司详情</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/nav.css"/>

</head>
<style>
body{
    /*background: #f6f6f6;*/
    background:url(./img/bg.jpg);
    background-size:cover;

}

</style>
<body>
<!--header-->
<div class="MyNav">
    <div class="container">
       <nav class="navbar navbar-myself" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">企业小雷达</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
                 <form class="navbar-form navbar-right" role="search" action="/etlist">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="key">
                    </div>
                    <button type="submit" class="btn btn-info" id="etinfo_btn_search">搜索</button>
                </form>

            </div>
        </nav>
    </div>
</div>
<!--header-->
<!--center-->
<div class="container">
       <div class="company_info">
           <!--company-top-->
           <div class="company-top">
               <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 logo">
                                <div class="imgkuang">
                                </div>
                                <div>
                                    <a href="#">认证公司</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row company-name">
                                        <h3>天津科技投资集团有限公司</h3>
                                </div>
                                <div div="row">
                                    <span class="span-warning">曾用名</span>
                                    <span class="span-success">存续</span>
                                    <button class="btn btn-info">私密基金<i class="glyphicon glyphicon-triangle-right"></i></button>
                                    <button class="btn btn-success">投资机构<i class="glyphicon glyphicon-triangle-right"></i></button>
                                </div>
                                <div class="row p">
                                    <span class="span-left">电话:</span>
                                    <span class="span-left padding-left">022-28355150</span>
                                    <a href="" class="span-left padding-left">更多号码</a>
                                </div>
                                <div class="row p">
                                    <span class="span-left">邮箱:</span>
                                    <span class="span-left padding-left"><a href="" class="text-gray">linhaigang@stic.com.cn</a></span>
                                    <span class="span-left title-left">官网:</span>
                                    <a href="" class="span-left padding-left text-gray">www.stic.com.cn</a>
                                </div>
                                <div class="row p">
                                    <span class="span-left">地址:</span>
                                    <span class="span-left padding-left"><a href="" class="text-gray"> 天津经济技术开发区兆发新村8号融科大厦412室</a></span>
                                    <a href="" class="span-left padding-left">附近公司</a>
                                </div>
                                <div class="row p">
                                    <span class="span-left">企业情报动态:</span>
                                    <span class="span-left padding-left text-gray">共2条</span>
                                    <a href="" class="span-left padding-left">查看详情</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!--先不写-->
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <!--company-top-->
           <!--company-risk-->
           <!--<div class="company-risk">-->
               <!--<div class="panel panel-default">-->
                    <!--<div class="panel-body">-->
                       <!--<img src="img/risk_title.png" class="span-left">-->
                       <!--<a href="" style="font-size:1.2em;" class="span-left title-left text-black">自身风险<span class="text-red">2</span>条</a>-->
                       <!--<a href="" style="font-size:1.2em;" class="span-left title-left text-black">关联风险<span class="text-red">174</span>条</a>-->
                       <!--<button class="btn btn-danger" style="float:right;">查看风险</button>-->
                    <!--</div>-->
               <!--</div>-->
           <!--</div>-->
           <!--company-risk-->
           <!--company-basic-info-->
           <div class="company-basic-info" style="float:left;width:78%;">
               <div class="panel panel-default">
                    <!--<div class="panel-heading">-->
                        <!--&lt;!&ndash;<div class="navi_body">-->
                            <!--<div class="navi_head">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div style="width:80%; margin-left:auto; margin-right:auto;">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p class="navi_title">基本信息</p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p><a href="">工商信息</a></p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p><a href="">股东信息</a></p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p><a href="">对外投资</a></p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p><a href="">主要成员</a></p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p><a href="">变更记录</a></p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p><a href="">最终受益人</a></p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p><a href="">控股公司</a></p>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p class="navi_title">法律诉讼</p>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p class="navi_title">经营状况</p>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p class="navi_title">经营风险</p>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p class="navi_title">企业年报</p>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!---->
                    <!--</div>-->
                   <div class="panel-body">
                       <nav class="navbar navbar-default two-nav" role="navigation" >
                            <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target="#example-navbar-collapse">
                                    <span class="sr-only">切换导航</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!--<a class="navbar-brand" href="#">菜鸟教程</a>-->
                            </div>
                            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">企业族谱</a></li>
                                    <li><a href="#">投资族谱</a></li>
                                    <li><a href="#">股权结构图</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-user"></i>疑似实际控制人</a></li>
                                </ul>
                            </div>
                            </div>
                        </nav>
                   </div>
                    <div class="panel-body">
                        <h3>工商信息</h3>
                        <!--<table class="table table-hover" style="border:1px solid #e4eef6;">-->
                            <!--<tbody>-->
                               <!--<tr class="tr-success">-->
                                   <!--<td>法定代表人信息</td>-->
                                   <!--<td>企业关联图谱</td>-->
                                   <!--<td>股权结构图</td>-->
                               <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<div class="row boss">-->
                                            <!--<div class="col-md-3">-->
                                                <!--<img src="img/boss_head.png"/>-->
                                            <!--</div>-->
                                           <!--<div class="col-md-6">-->
                                               <!--<span style="font-size:1.2em" >马云</span>-->
                                                <!--<div>-->
                                                    <!--<a href="">他关联6家公司<i class="glyphicon glyphicon-menu-right"></i></a>-->
                                                <!--</div>-->
                                           <!--</div>-->
                                        <!--</div>-->
                                        <!--<a href="" class="btn btn-info" style="margin-top:2%;">查看人物图谱</a>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div>-->
                                            <!--<img src="img/icon_gltp.png" style="width:260px;"/>-->
                                        <!--</div>-->
                                        <!--<a href="" class="btn btn-info" style="margin-top:2%;">查看人物图谱</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <table class="table table-hover" style="border:1px solid #e4eef6;">
                            <tbody>
                               <tr >
                                   <td class="tr-success">注册资金：</td>
                                   <td><%=etinfo[0].reg_fund%> </td>
                                   <td class="tr-success">实缴资本：</td>
                                   <td>_</td>
                               </tr>
                               <tr >
                                   <td class="tr-success">经营状态：</td>
                                   <td>存续（在营、开业、在册）  </td>
                                   <td class="tr-success">成立日期：</td>
                                   <td><%=etinfo[0].create_date%> </td>
                               </tr>
                               <tr >
                                   <td class="tr-success">统一社会信用代码：</td>
                                   <td><%=etinfo[0].credit_code%></td>
                                   <td class="tr-success">纳税人识别号：</td>
                                   <td>91120116103072031N </td>
                               </tr>
                               <tr >
                                   <td class="tr-success">注册号：</td>
                                   <td>120000000003745 </td>
                                   <td class="tr-success">组织机构代码：</td>
                                   <td>10307203-1 </td>
                               </tr>
                               <tr >
                                   <td class="tr-success">公司类型：</td>
                                   <td><%=etinfo[0].et_type%>  </td>
                                   <td class="tr-success">所属行业：</td>
                                   <td>租赁和商务服务业</td>
                               </tr>
                               <tr >
                                   <td class="tr-success">核准日期：</td>
                                   <td><%=etinfo[0].confirm_date%></td>
                                   <td class="tr-success">登记机关：</td>
                                   <td><%=etinfo[0].reg_authority%> </td>
                               </tr>
                               <tr >
                                   <td class="tr-success">所属地区：</td>
                                   <td>天津市</td>
                                   <td class="tr-success">英文名：</td>
                                   <td>_</td>
                               </tr>
                               <tr >
                                   <td class="tr-success">曾用名：</td>
                                   <td>天津市</td>
                                   <td class="tr-success">英文名：</td>
                                   <td>_</td>
                               </tr>
                               <tr >
                                   <td class="tr-success">所属地区：</td>
                                   <td>天津科技发展投资总公司</td>
                                   <td class="tr-success">经营方式</td>
                                   <td>服务</td>
                               </tr>
                               <tr >
                                   <td class="tr-success">人员规模 </td>
                                   <td>_</td>
                                   <td class="tr-success">营业期限 </td>
                                   <td>1997-10-16 至 无固定期限 </td>
                               </tr>
                               <tr >
                                   <td class="tr-success">人员规模 </td>
                                   <td>_</td>
                                   <td class="tr-success">营业期限 </td>
                                   <td>1997-10-16 至 无固定期限</td>
                               </tr>
                            </tbody>
                        </table>
                        <table class="table table-hover" style="border:1px solid #e4eef6;">
                            <tbody>
                                <tr >
                                   <td class="tr-success">企业地址：</td>
                                   <td><%=etinfo[0].address%></td>
                               </tr>
                               <tr >
                                   <td class="tr-success">经营范围：</td>
                                   <td><%=etinfo[0].manage_scope%></td>
                               </tr>
                            </tbody>
                        </table>
                    </div>
                   <div class="panel-body">
                        <h3>股东信息</h3>
                       <table class="table table-hover">
                          <thead>
                            <tr class="tr-success">
                              <th>序号</th>
                              <th>股东</th>
                              <th>持股比例</th>
                              <th>认缴出资额（万元）</th>
                              <th>认缴出资日期</th>
                              <th>股东类型</th>
                            </tr>
                          </thead>
                          <tbody>
                          <%for(var i=0;i<etinvest.length;i++){%>
                            <tr>
                              <td><%=i+1%></td>
                              <td><a href="/etinfo?et=<%=etinvest[i].investor_et%>"><%=etinvest[i].et_name%></a></td>
                              <td>100% </td>
                              <td><%=etinvest[i].et_fund%></td>
                              <td>_</td>
                              <td><%=etinvest[i].legalp_name%></td>
                            </tr>
                          <%}%>
                          </tbody>
                        </table>
                   </div>
                </div>
           </div>
           <!--company-basic-info-->
           <!--many-img-->
            <div class="many-img" style="float:right;width:20%;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            企业图谱
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a href=""><img src="img/qytu.jpg" style="width:100%;"/></a>
                        <div class="row" style="margin-top:3%;">
                            <div class="col-md-5 col-md-push-2">
                                 <a href="" class="btn btn-info">查看企业图谱</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            投资图谱
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a href=""><img src="img/tupu.png" style="width:100%;"/></a>
                        <div class="row" style="margin-top:3%;">
                            <div class="col-md-5 col-md-push-2">
                                 <a href="" class="btn btn-info">查看投资图谱</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            股权结构图
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a href=""><img src="img/gqjgt.png" style="width:100%;"/></a>
                        <div class="row" style="margin-top:3%;">
                            <div class="col-md-5 col-md-push-2">
                                 <a href="" class="btn btn-info">查看股权结构图</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            疑似实际控制人
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a href=""><img src="img/yskzr.png" style="width:100%;"/></a>
                        <div class="row" style="margin-top:3%;">
                            <div class="col-md-5 col-md-push-1">
                                 <a href="" class="btn btn-info">查看疑似实际控制人</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <!--many-img-->
       </div>
  </div>
<!--center-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>